<thinktecture.identityServer.repositories tokenServiceConfiguration="Thinktecture.IdentityServer.Repositories.Sql.ConfigurationRepository, Thinktecture.IdentityServer.Core.Repositories"
                                       userManagement="MembershipRebootUserRepository.IdentityRepository, MembershipRebootUserRepository"
                                       userValidation="MembershipRebootUserRepository.IdentityRepository, MembershipRebootUserRepository"
                                       claimsRepository="MembershipRebootUserRepository.IdentityRepository, MembershipRebootUserRepository"
                                          relyingParties="Thinktecture.IdentityServer.Repositories.Sql.RelyingPartyRepository, Thinktecture.IdentityServer.Core.Repositories"
                                          claimsTransformationRules="Thinktecture.IdentityServer.Repositories.PassThruTransformationRuleRepository, Thinktecture.IdentityServer.Core.Repositories"
                                     clientCertificates="MembershipRebootUserRepository.IdentityRepository, MembershipRebootUserRepository"
                                          clientsRepository="Thinktecture.IdentityServer.Repositories.Sql.ClientsRepository, Thinktecture.IdentityServer.Core.Repositories"
                                          codeTokenRepository="Thinktecture.IdentityServer.Repositories.Sql.CodeTokenRepository, Thinktecture.IdentityServer.Core.Repositories"
                                          identityProvider="Thinktecture.IdentityServer.Repositories.Sql.IdentityProviderRepository, Thinktecture.IdentityServer.Core.Repositories"
                                          delegation="Thinktecture.IdentityServer.Repositories.Sql.DelegationRepository, Thinktecture.IdentityServer.Core.Repositories"
                                          caching="Thinktecture.IdentityServer.Repositories.MemoryCacheRepository, Thinktecture.IdentityServer.Core.Repositories" />